<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Patrick+Hand"
	rel="stylesheet">
<!--link rel="stylesheet" href="style.css"-->

<style>
body {
	margin: 0;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	max-width: 1024px;
	font-weight: 400;
	line-height: 1.5;
	color: #333333;
	margin: auto;
	width: 1024px;
}

small {
	color: #888888;
	font-size: 10px;
}

span.T1 {
	color: #0074d9;
}

span.T2 {
	color: #ff851b;
}

span.T3 {
	color: #ff4136;
}

span.M1 {
	color: #3d9970;
}

span.M2 {
	color: #b10dc9;
}

div.page {
	padding: 12px;
	/*box-shadow: 0px 0px 10px #000000;*/
	background-color: #ffffff
}

h1 {
	font-size: 24pt;
	font-weight: 300;
	color: #822433;
	margin-bottom: 3pt;
}

h2 {
	font-size: 20pt;
	font-weight: 300;
	color: #822433;
}

h3 {
	font-size: 20pt;
	font-weight: 300;
	color: #782b35;
	page-break-before: always;
}

h4 {
	margin-top: 0pt;
	font-size: 16pt;
	font-weight: 700;
	color: #000000;
}

a {
	color: #00b3be;
	text-decoration: none;
}

a:hover {
	color: #f69240;
}

b {
	font-weight: 700;
}

table {
	width: 100%;
	font-family: arial, sans-serif;
	border-collapse: collapse;
}

th {
	border: 1px solid #000000;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	padding: 8px;
}

td {
	border: 1px solid #cccccc;
	text-align: center;
	padding: 4px;
	min-width: 60px;
}

td.legend {
	border: 0px;
	border-right: 4px solid #ffffff;
	font-weight: normal !important;
}

td:nth-child(1) {
	font-weight: bold;
}

.studgroup tr:nth-child(odd) {
	background-color: #eeeeee;
}

.studgroup td:nth-child(1) {
	width: 35%;
}

.studgroup td:nth-child(2) {
	width: 15%;
}

.studgroup td:nth-child(n+3) {
	width: 10%;
}

.classroom td:nth-child(1) {
	width: 5%;
}

.classroom td:nth-child(n+2) {
	width: 19%;
}

@media print {
	h1 {
		font-size: 18pt;
	}
	h2 {
		font-size: 14pt;
	}
	h3 {
		font-size: 14pt;
		page-break-before: always;
	}
	html {
		width: 210mm;
		height: 297mm;
	}
	body {
		margin: 0mm 0mm 0mm 0mm;
		font-size: 8pt;
		background-color: #ffffff;
	}
	td {
		font-size: 8pt;
		padding: 3px;
	}
	th {
		font-size: 10pt;
	}
	div.page {
		box-shadow: none;
	}
	small {
		font-size: 6px;
	}
}

@media screen {
	body {
		font-size: 16px;
		max-width: 1024px;
		width: 100%;
	}
	h3 {
		margin-top: 20px;
	}
}

.overlap {
    background-color: #F08080;
}

.checkboxgroup {
    overflow: auto;
}

.checkboxgroup legend {
	font-weight: bold;
}

.checkboxgroup label {
	display: block;
}

#schedule {
	float: right;
	width: 700px;
	table-layout: fixed;
}

#item_list {
	width: 300px;
	font-size: 90%;
	float: left;
}

.slot {
	display: block;
	font-size: 90%;
}

.room {
	display: block;
	font-size: 80%;
}

legend {
	cursor: pointer;
}
</style>

<title>Controllo overlap A.A. {{AA}} - {{semester}} semestre</title>

<script type="text/javascript">
courses = {
{% for list in item_lists %}
	{%  for course in item_lists[list] %}
	"{{ course.code }}" : {
		"name" : "{{ course.name }}",
		"code" : "{{ course.code }}",
		"slots" : [
			{% for slot in course.slots %}
			{
				"day" : "{{ slot.day }}",
				"hours" : "{{ slot.hours }}",
				"room" : "{{ slot.room }}"
			},
			{% endfor %}
		]
	},
	{% endfor %}

{% endfor %}
};

item_lists = {
    "T1" : ["labcal", "analisi"]
}

DAYS = {
    "LUN" : 1,
    "MAR" : 2,
    "MER" : 3,
    "GIO" : 4,
    "VEN" : 5,
};

function uncheck_all() {
	document.querySelectorAll("input[type='checkbox']").forEach(cb => {
		if(cb.checked == true) {
			cb.click();
		}
	});
}

function init_page() {
	uncheck_all();

	// make the fieldset legends collapsible
	document.querySelectorAll(".checkboxgroup legend").forEach(legend => legend.addEventListener("click", (event) => {
		var my_div = event.target.parentNode.getElementsByTagName("div")[0];
		
		if(my_div.style.display === "none") {
			my_div.style.display = "block";
		} 
		else {
			my_div.style.display = "none";
		}
	}));

    document.getElementById("item_list").addEventListener("change", (event) => {
    	var cb = event.target;
    	var my_table = document.getElementById("schedule");
   		var rows = my_table.getElementsByTagName("tr");
   	
		var course_code = cb.value;
        course = courses[course_code];
        
        // if the checkbox has been checked
    	if(cb.checked) {
    		// loop over all the slots
	        course.slots.forEach(slot => {
	            var col_id = DAYS[slot.day];
	
	            const [begin, end] = slot.hours.split("-");
	            // loop over all the hours of the slot
	            for(var hour = parseInt(begin); hour < parseInt(end); hour++) {
	            	// identify the right cell
	                var row_id = hour - 7;
	                var row = rows[row_id];
	                var cell = row.getElementsByTagName("td")[col_id];
	                
                	var course_span = document.createElement("span");
                	course_span.classList.add("slot");
                	course_span.classList.add(course.code);
                    course_span.innerHTML = course.name;
                    
                    var room_span = document.createElement("span");
                    room_span.classList.add("room");
                    room_span.innerHTML = slot.room;
                    
                    course_span.appendChild(room_span);
                    cell.appendChild(course_span);
                    
                    // if the cell contains other slots
                    if(cell.childElementCount > 1) {
                    	// here we check whether the slots that are already present are assigned to the same course 
                    	// (which may happen for some lab courses). If this is the case then we don't count it as "overlap"
                    	var is_overlap = false;
                    	for(var i = 0; i < cell.childElementCount; i++) {
                    		if(!cell.childNodes[i].classList.contains(course.code)) {
                    			is_overlap = true;
                    		}
                    	}
                    
		                if(is_overlap == true && !cell.classList.contains("overlap")) {
							cell.classList.add("overlap");
						}
	                }
	            }
	        });
    	}
    	else {
    		// remove all the slots assigned to the de-selected course
			var elements = document.getElementsByClassName(course.code);
			while(elements.length > 0) {
				var cell = elements[0].parentNode;
			    cell.removeChild(elements[0]);
			    
			    if(cell.childElementCount < 2) {
					cell.classList.remove("overlap");
				}
			}
    	}
    });
}

</script>

</head>

<body onload="init_page()">

	<div class="page">
	
		<h1>
			Controllo overlap - A.A. {{AA}} - <span style="text-decoration: underline;">{{semester}} semestre</span>
		</h1>
		<h4>{{semester_start}} - {{semester_end}}</h4>
		
		<p>Premi sul nome di un gruppo di esami a sinistra per far apparire la lista di corsi ad esso associati. 
		Seleziona uno per uno i corsi che vuoi aggiungere alla tabella riepilogativa.</p>
		
		<p>Qualora uno slot contenga due o più lezioni afferenti a corsi o canali differenti, la cella associata si colorerà di rosso.</p>
		
		<p><button onclick="uncheck_all()">Reset</button></p>
	
        <div id="item_list">
            {% for list in item_lists %}
				<fieldset class="checkboxgroup">
					<legend>{{ list }}</legend>
					
					<div class="checkbox_container" style="display: none">
						{%  for course in item_lists[list] %}
						<label>
							<input type="checkbox" value="{{ course.code }}" id="{{ course.code }}" name="listed_courses">
							{{ course.name }}
						</label>
						{% endfor %}
					</div>
				</fieldset>
			{% endfor %}
        </div>
		
		<table id="schedule">
            <tr>
                <th></th>
                <th>Lunedì</th>
                <th>Martedì</th>
                <th>Mercoledì</th>
                <th>Giovedì</th>
                <th>Venerdì</th>
            </tr>
            
            <tr>
                <td>08:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>09:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>10:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>11:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>12:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>13:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>14:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>15:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>16:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>17:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td>18:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
		</table>
		
	</div>
</body>
</html>
